@charset "utf-8";
/* CSS Document */

html, body {
    margin: 0;
    padding: 0;
    background-color: #eceff1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    height: 80px;
    background-color: #7e57c2;
    display: table;
}

nav {
    padding-left: 150px;
    padding-right: 150px;
    display: table-cell;
    vertical-align: middle;
}

nav ul {
    list-style-type: none;
    margin-left: 100px;
    position: fixed;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-size: 1.1rem;
    text-decoration: none;
    padding: 14px 16px;
    color: #fefefe;
}

nav .logo {
    color: #fb8c00;
    float: left;
    font-size: 2rem;
    text-decoration: none;
}

.search-bar {
    background-color: #ffffff;
    border: 1px solid #dad7de;
    border-radius: 4px;
    margin-top: 14px;
    padding-left: 1rem;
    font-size: 1rem;
    float: right;
    height: 30px;
}